@import "tailwindcss";

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: gray transparent; /* scroll thumb and track */
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0.095); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid gray; /* creates padding around scroll thumb */
}

.btns-custom {
  @apply rounded-2xl text-2xl font-bold p-5 h-fit transition-transform transition-shadow hover:scale-105 hover:shadow-2xs;
}
