@import "tailwindcss";

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: gray transparent; /* scroll thumb and track */
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0.095); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid gray; /* creates padding around scroll thumb */
}


.label-input {
  @apply flex flex-col gap-2;
}

.label {
  @apply font-bold text-lg;
}

.label-necessary {
  @apply font-bold text-red-500;
}

.error {
  @apply font-bold text-red-500;
}

.input {
  @apply ring-1 ring-gray-500 rounded-md p-1.5 bg-white;
}

.custom-alert {
  @apply flex items-center justify-between gap-4 h-fit w-[414.763px] p-5 rounded-2xl ring-1;
}

.custom-svg {
  @apply size-7;
}

.custom-svg2 {
  @apply size-5 transition-colors hover:fill-white;
}

.custom-alert-text {
  @apply flex items-center justify-center w-[294.763px];
}
